@model IEnumerable<Store.Core.Entities.Item>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string SupplierImagesURL = Configuration.GetSection("SupplierImages").Value;
}

<div class="row page-titles mx-0">
    <div class="col p-md-0 flex-display">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Offers",new {Area="admin"})">Offers</a></li>
        </ol>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Items</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="custom-center">
                                            #
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Code)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Price)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Image)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Category)
                                        </span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int cnt = 1; }
                                @foreach (var item in Model)
                                {
                                    <tr id="table-row-@Html.DisplayFor(modelItem => item.Id)">
                                        <td>
                                            <span class="custom-center">
                                                @cnt
                                            </span>
                                            @{ cnt++; }
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                <img src="~/images/@item.Image" alt="@Html.DisplayFor(modelItem => item.Name)" width="20" height="20" class="img-fluid thumbnail m-r-15">
                                            </span>
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="custom-center">
                                                @Html.DisplayFor(modelItem => item.Category)
                                            </span>
                                        </td>
                                        <td class="admin-control">
                                            <span class="admin-control-icon" onclick='removeOffer(@Html.DisplayFor(modelItem => item.Id))'>
                                                <img src="https://img.icons8.com/nolan/64/information.png" />
                                            </span>
                                            <span class="admin-control-icon" onclick='deleteOffer(@Html.DisplayFor(modelItem => item.Id))'>
                                                <img src="https://img.icons8.com/dusk/64/000000/filled-trash.png" />
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        <span class="custom-center">
                                            #
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Code)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Price)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Image)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </span>
                                    </th>
                                    <th>
                                        <span class="custom-center">
                                            @Html.DisplayNameFor(model => model.Category)
                                        </span>
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #/ container -->
<script src="~/plugins/common/common.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/gleek.js"></script>
<script src="~/js/styleSwitcher.js"></script>


<script src="~/plugins/sweetalert/js/sweetalert.min.js"></script>
<script src="~/plugins/sweetalert/js/custom-ajax-alert.js"></script>